header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3d405b;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(61, 64, 91, 0.5);
}
