$white: #FFFFFF;
$black: #000000;

$gray01: #EAEAEA;
$gray02: #D3D3D3;
$gray03: #BBBBBB;
$gray04: #A4A4A4;
$gray05: #8C8C8C;

$terra: #E07A5F;
$jacarta: #3D405B;

$green: #4CAF50;

$blue04: #90B1DE;
$blue09: #3D405B;

$primary: $blue09;
$primaryHover: $blue04;
$secondary: $terra;
