$white: #ffffff;
$black: #000000;
$primary: #3d405b;
$secondary: #e07a5f;

$gray01: #eaeaea;
$gray02: #d3d3d3;
$gray03: #bbbbbb;
$gray04: #a4a4a4;
$gray05: #8c8c8c;

$terra: #E07A5F;
$jacarta: #3D405B;

$green: #4CAF50;
