/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

button {
  padding: 5px 10px;
  min-width: 150px;
  width: fit-content;
}

.mt-1 {
  margin-top: 10px;
}

.avatar {
  width: 25px;
  height: 25px;
}